.App {
  width: 100%;
}

.App-header {
  padding: 2rem;
}

.App-header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.App-header p {
  font-size: 1.2em;
  color: #888;
}
